<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>tripupdate</servlet-name>
        <servlet-class>com.apisylux.trips.tripupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tripview</servlet-name>
        <servlet-class>com.apisylux.trips.tripview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tripcompany</servlet-name>
        <servlet-class>com.apisylux.trips.tripcompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tripdrinking</servlet-name>
        <servlet-class>com.apisylux.trips.tripdrinking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tripsewage</servlet-name>
        <servlet-class>com.apisylux.trips.tripsewage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tripskip</servlet-name>
        <servlet-class>com.apisylux.trips.tripskip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>mandays.HelloWorld</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mandayscompany</servlet-name>
        <servlet-class>mandays.mandayscompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComplainMain</servlet-name>
        <servlet-class>ComplaintsBook.ComplainMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterComplain</servlet-name>
        <servlet-class>ComplaintsBook.RegisterComplain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>complainfwd</servlet-name>
        <servlet-class>ComplaintsBook.complainfwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComplainRecord</servlet-name>
        <servlet-class>ComplaintsBook.ComplainRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>complainreview</servlet-name>
        <servlet-class>ComplaintsBook.complainreview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>StoreManager.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockIn</servlet-name>
        <servlet-class>StoreManager.StockIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkin</servlet-name>
        <servlet-class>mandays.checkin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guestcompany</servlet-name>
        <servlet-class>mandays.guestcompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadfile</servlet-name>
        <servlet-class>mandays.uploadfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tripupdate</servlet-name>
        <url-pattern>/tripupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tripview</servlet-name>
        <url-pattern>/tripview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tripcompany</servlet-name>
        <url-pattern>/tripcompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tripdrinking</servlet-name>
        <url-pattern>/tripdrinking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tripsewage</servlet-name>
        <url-pattern>/tripsewage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tripskip</servlet-name>
        <url-pattern>/tripskip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mandayscompany</servlet-name>
        <url-pattern>/mandayscompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComplainMain</servlet-name>
        <url-pattern>/ComplainMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterComplain</servlet-name>
        <url-pattern>/RegisterComplain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>complainfwd</servlet-name>
        <url-pattern>/complainfwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComplainRecord</servlet-name>
        <url-pattern>/ComplainRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>complainreview</servlet-name>
        <url-pattern>/complainreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockIn</servlet-name>
        <url-pattern>/StockIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkin</servlet-name>
        <url-pattern>/checkin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guestcompany</servlet-name>
        <url-pattern>/guestcompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadfile</servlet-name>
        <url-pattern>/uploadfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
